<div class="page">

  <header class="header">
    <h1 class="title">外卖</h1>
    <span class="right-btn" (click)="loginAction()">登录</span>
  </header>

  <div class="content">

    <ul class="list">
      <li class="item"
          *ngFor="let item of listData"
          (click)="liAction(item)">
        {{item}}
      </li>
    </ul>

    <!-- 相对路径和完整路径都可行 -->
    <!--<a [routerLink]="['/home/detail']">测试1</a>-->
    <!--<a [routerLink]="['./detail']">测试2</a>-->

    <a [routerLink]="['/home/detail/千峰1']">测试1</a>
    <a [routerLink]="['./detail', '千峰2']">测试2</a>
    <a [routerLink]="['./detail']" [queryParams]="{name:'千峰3'}">测试3</a>

  </div>

</div>

<router-outlet></router-outlet>

